* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html, body {
  background-color: #000;
}

/* HEADER ----------------- */
header {
  background-color: #FF8400;
  color: white;
  height: 80px;
  padding: 15px;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.nav-main h1 {
  font-size: 36px;
}

.link-contact {
  font-size: 18px;
  cursor: pointer;
  transition: all .5s;
}

.link-contact:hover {
  transform: scale(1.05);
}