* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: #000;
}

/* HEADER ----------------- */
header {
  background-color: #ff8400;
  color: white;
  height: 80px;
  padding: 15px;
  margin-bottom: 20px;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.nav-main h1 {
  font-size: 36px;
}

.link-contact {
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
}

.link-contact:hover {
  transform: scale(1.05);
}

/* SECTION FORM */
.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px;
  background-color: #333;
  border-radius: 8px;
  padding: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.sr-only {
  /*Esconde o label mantendo a acessibilidade  */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.input-group input::placeholder {
  color: #C9C9C9;
  font-size: 14px;
}

.btn-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.btn-group button {
  background-color: #FF8400;
  color: white;
  padding: 15px 80px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: transform 0.5s;
}

.btn-group button:hover {
  transform: scale(1.05);
}

/* Lista de cards */
section#list-section, section#form-section {
  padding: 0 8px;
}

.address-card {
  width: 100%;
  padding: 20px;
  margin: 0 auto 20px;
  max-width: 900px;
  background-color: #333;
  border-radius: 10px;
}

.card-city {
  color: #FF8400;
  font-size: 18px;
  font-weight: bold;
}

.card-street {
  color: white;
  font-size: 14px;
}

.card-cep {
  color: #8F8F8F;
  font-size: 12px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
.btn-group {
  flex-direction: row;
}
}